$off-white-text: #f5f8fc
$off-black-text: #4a4b4d
$gray-text: #87898c
$light-gray-background: #ebeef2
$mid-gray-background: #dadde0

$democritus: #4a76cb
$dalton: #4ED4D4
$thomson: #57D44E
$rutherford: #ECF01A
$bohr: #D4A34A
$schrodinger: #D4574E